.bgContainer {
  background-color: var(--white);
  /* border: 1px solid green; */
  height: 96.4%;
  padding: 1rem 0.8rem;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconContainer {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
.h {
  font-size: 1.5rem;
}
.contactsContainer {
  overflow-y: scroll;
  height: 87%;
  margin-top: 1.5rem;
}
