.bgContainer {
  border-radius: 8px;
  /* border: 1px solid red; */
  display: flex;
  background-color: var(--bg-primary);
  padding: 0.4rem 0.5rem 0.2rem;
}

.iconContainer {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #5e5e5e;
}

input {
  background-color: var(--bg-primary);
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}
