.bgContainer {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainContainer {
  height: 82.5%;
  overflow: hidden;
  height: 92%;
}
.mainChatHeader {
  padding: 0.5rem 2rem;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
}
.headerImage {
  width: 3rem;
  height: 3rem;
  border-radius: 22rem;
  overflow: hidden;
  margin-right: 1rem;
  flex-shrink: 0;
}

.headerImage > img {
  width: 100%;
  aspect-ratio: 1/1;
}
.headerTextContainer {
  flex-grow: 1;
  max-width: 93%;
}
.headerTextContainer > p {
  margin: 0;
}
.groupName {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 0 0.3rem;
}
.groupMembersList {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainChatBody {
  height: 87.5%;
  padding: 1rem 4rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputContainer {
  background-color: var(--bg-primary);
  max-height: 10rem;
  padding: 1rem 1rem 1rem 2rem;
}
