.bgContainer {
  border-radius: 0rem 8px 8px 8px;
  margin-bottom: 0.25rem;
  display: inline-flex;
  justify-content: space-between;
  max-width: 60%;
  word-wrap: break-word;
}

.alignRight {
  word-wrap: break-word;
  max-width: 60%;
  align-self: flex-end;
}
.selfMessageContainer {
  border-radius: 8px 0 8px 8px;
  background-color: var(--white);
  background-color: var(--self-message-bg);
  align-self: flex-end;
  padding: 0.5rem 1rem 0;
  margin-bottom: 0.25rem;
  display: inline-flex;
  justify-content: space-between;
}

.otherMessageContainer {
  margin-bottom: 0.25rem;
  display: inline-flex;
  margin-bottom: 1rem;
}

.avatar {
  border-radius: 22rem;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}
.dataContainerOther,
.dataContainerSelf {
  display: flex;
}

.dataContainerOther {
  border-radius: 0rem 8px 8px 8px;
  padding: 0.5rem 1rem 0;
  background-color: var(--white);
}
.senderMessageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}
.sender {
  font-weight: 500;
  margin-bottom: 0.1rem;
}
.message {
  margin: 0;
  margin-bottom: 0.3rem;
}

.timeStamp {
  width: 3rem;
  flex-shrink: 0;
  font-size: 0.7rem;
  align-self: flex-end;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  color: #5d5d5d;
}
