.bg-container {
  height: 100vh;
}
header {
  height: 10%;
  background-color: green;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #f0f2f5;
  background-color: var(--bg-primary);
  height: 89.8%;
  /* border: 1px solid red; */
}
.main-container {
  display: flex;
  height: 100%;
}
.left-container {
  width: 25%;
  /* border: 1px solid red; */
}
.right-container {
}
