.bg-container {
  height: 100vh;
}
header {
  height: 10%;
  background-color: green;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #f0f2f5;
  height: 89.8%;
}
.main-container {
  display: flex;
  border: 1px solid red;
  height: 100%;
}
.left-container {
  width: 20%;
  border: 1px solid red;
}
.right-container {
}
